<div>
  <div class="mt-4">
    <h1 class="font-bold text-3xl text-center">
      ¿ Que placas circulan en Quito hoy?
    </h1>

    {{ name().value | json }}

    <div class="grid grid-cols-2 mt-4">
      <div>
        <div>
          <!--Fecha  -->
          <!-- <input
              class="text-white text-sm rounded-lg px-6 focus:ring-blue-500 focus:border-blue-500 mx-3 ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              type=""
            /> -->
          <div class="flex gap-3">
            <input
              type="text"
              [formControl]="name()"
              id="search-dropdown"
              class="rounded-md block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-e-lg border-s-gray-50 border-s-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-s-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500"
              placeholder="Ingrese el número de placa "
              required
            />
            <input
              class="rounded-md block p-2.5 w-2/5 z-20 text-sm text-gray-900 bg-gray-50 rounded-e-lg border-s-gray-50 border-s-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-s-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500"
              type="time"
            />
            <!-- <button
              (click)="final()"
              type="button"
              class="absolute top-0 end-0 p-2.5 text-sm font-medium h-full text-white bg-blue-700 rounded-e-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
              Buscar

              <span class="sr-only">Search</span>
            </button> -->
            <select
              (click)="fecha($event)"
              class="text-white text-sm rounded-lg px-6 focus:ring-blue-500 focus:border-blue-500 mx-3 ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              name=""
              id=""
            >
              <option>Seleccione una opción</option>
              @for (item of datos(); track $index) {
              <option value="{{ item.id }}">
                {{ item.dia }}
              </option>
              }
            </select>
          </div>

          <!-- Fin fecha -->
        </div>
      </div>
      <div>
        <div
          class="p-3 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
        >
          <h1 class="text-white text-center">
            Información de placas que no circulan
          </h1>

          <hr />
          @if (name().value?.slice(-1) ==='1' || name().value?.slice(-1) ===
          '2') { @for (item of final(); track $index) {

          <p class="text-white text-xl mt-4 p-4">{{ item.descipcion }}</p>

          } }

          <!-- <p class="text-white">Fecha: {{ addfecha() }}</p>
          <br />
          <p class="text-white">Placa: {{ name().value }}</p> -->
        </div>
      </div>
    </div>
  </div>
</div>
